@model DekanatWeb.Models.предмет

@{
    ViewBag.Title = "Видалення";
}

<h2>Видалення</h2>

<h3>Ви впевнені, що хочете видалити цей предмет?</h3>
<div>
    <h4>Предмет: @Html.DisplayFor(model => model.назва)</h4>
    <hr />

    <dl class="dl-horizontal" style="font-size: 12pt">

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.SubjectId)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.назва)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.назва)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <p>
                <input type="submit" value="Видалити" class="btn btn-default btn-danger" />
            </p>
            &lArr; @Html.ActionLink("Повернутися до списку", "Index") 
        </div>
    }
</div>
