@{
    ViewBag.Title = "Деканат - база даних";
}

<div>
    <h1>База даних "Деканат"</h1>
    <p class="lead">На цьому сайті ви зможете дізнатися інформацію з деканату навчального закладу</p>
    <p style="font-size: larger">Оберіть список, який Вас цікавить:</p>
</div>

<div>
    <ul>
        <li> @Html.ActionLink("Список факультетів", "Index", "факультет", new { area = "" }, new { style = "font-size: large" }) </li>
        <li> @Html.ActionLink("Список спеціальностей", "Index", "спеціальність", new { area = "" }, new { style = "font-size: large" })  </li>
        <li> @Html.ActionLink("Список груп", "Index", "група", new { area = "" }, new { style = "font-size: large" })  </li>
        <li> @Html.ActionLink("Список студентів", "Index", "студент", new { area = "" }, new { style = "font-size: large" })  </li>
        <li> @Html.ActionLink("Список розкладів", "Index", "розклад", new { area = "" }, new { style = "font-size: large" })  </li>
        <li> @Html.ActionLink("Список предметів", "Index", "предмет", new { area = "" }, new { style = "font-size: large" })  </li>
    </ul>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@