@model DekanatWeb.Models.факультет

@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>
        <b> Факультет: @Html.DisplayFor(model => model.назва) </b>
    </h4>
    <hr />

    <dl class="dl-horizontal" style="font-size: 12pt">

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.FacultyID)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.FacultyID)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.назва)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.назва)
        </dd>
    </dl>

</div>

<p style="font-size:12pt">
    <br />
    &lArr; @Html.ActionLink("Повернутися до списку", "Index")  |
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.FacultyID })
</p>



