@model DekanatWeb.Models.факультет

@{
    ViewBag.Title = "Details";
}

<h2>Подробиці</h2>





<div>
    <h4>Факультет</h4>
    <hr />
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.назва)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.назва)
            </dd>
        </dl>*@

    <p style="font-size:large">
        @Html.DisplayNameFor(model => model.назва)
    </p>

    <p>
        @Html.DisplayFor(model => model.назва)
    </p>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacultyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>






