@model DekanatWeb.Models.спеціальність


@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>


<div>


    <h4>
        <b> Спеціальність: @Html.DisplayFor(model => model.назва) </b>
    </h4>
    <hr />

    <dl class="dl-horizontal" style="font-size: 12pt">

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.SpecialtyId)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.SpecialtyId)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.назва)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.назва)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.факультет.назва)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.факультет.назва)
        </dd>

    </dl>
</div>

<p>
    &lArr;@Html.ActionLink("Повернутися до списку", "Index") |
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.SpecialtyId }) 
</p>
