@model IEnumerable<DekanatWeb.Models.GroupViewModel>

@{
    ViewBag.Title = "Групи";
}

<h2>Список груп</h2>

<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Номер групи</th>
                <th>Назва групи</th>
                <th>Спеціальність</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>@item.GroupId</td>
                        <td>@item.назва</td>
                        <td>@item.спеціальність.назва</td>


                        <td>
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.GroupId }) |
                            @Html.ActionLink("Деталі", "Details", new { id = item.GroupId }) |
                            @Html.ActionLink("Видалити", "Delete", new { id = item.GroupId })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <p><a href="@Url.Action("Create", "група")" class="btn btn-primary btn-default">Створити нову &raquo;</a></p>
        <p><a href="@Url.Action("ExportToExcel", "група")" class="btn btn-success">Експорт в Excel &raquo;</a></p>
    </div>


</div>



