@model DekanatWeb.Models.студент

@{
    ViewBag.Title = "Видалення";
}

<h2>Видалення</h2>

<h3>Ви впевнені, що хочете видалити цього студента?</h3>
<div>
    <h4>
        <b> Cтудент: @Html.DisplayFor(model => model.імя) @Html.DisplayFor(model => model.прізвище)</b>
    </h4>
    <hr />

    <dl class="dl-horizontal" style="font-size: 12pt">
        <dt style="font-weight: lighter" >
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.імя)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.імя)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.прізвище)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.прізвище)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.дата_народження)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.дата_народження)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.телефон)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.телефон)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.група.назва)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.група.назва)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <p>
                <input type="submit" value="Видалити" class="btn btn-default btn-danger" />
            </p>
            &lArr; @Html.ActionLink("Повернутися до списку", "Index") 
        </div>
    }
</div>
