@model DekanatWeb.Models.студент


@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>  
        <b> Cтудент: @Html.DisplayFor(model => model.імя) @Html.DisplayFor(model => model.прізвище)</b>
    </h4>
    <hr />

    <dl class="dl-horizontal" style="font-size: 14pt">

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.імя)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.імя)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.прізвище)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.прізвище)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.дата_народження)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.дата_народження)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.телефон)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.телефон)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.група.назва)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.група.назва)
        </dd>

    </dl>
</div>
<p style="font-size:12pt">
    <br />
    &lArr; @Html.ActionLink("Повернутися до списку", "Index")  |
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.StudentId })
</p>
