@model IEnumerable<DekanatWeb.Models.StudentViewModel>

<h2>Список студентів</h2>

<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Номер студента</th>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>Дата народження</th>
                <th>Телефон</th>
                <th>Номер групи</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>@item.StudentId</td>
                        <td>@item.імя</td>
                        <td>@item.прізвище</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.дата_народження)</td>
                        <td>@item.телефон</td> 
                        <td>@item.GroupId</td>

                        <td>
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.StudentId }) |
                            @Html.ActionLink("Деталі", "Details", new { id = item.StudentId }) |
                            @Html.ActionLink("Видалити", "Delete", new { id = item.StudentId })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <p><a href="@Url.Action("Create", "студент")" class="btn btn-primary btn-default">Створити новий &raquo;</a></p>
        <p><a href="@Url.Action("ExportToExcel", "студент")" class="btn btn-success">Експорт в Excel &raquo;</a></p>
    </div>


</div>






@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.імя)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.прізвище)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.телефон)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.група.назва)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.дата_народження)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.імя)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.прізвище)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.телефон)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.група.назва)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.дата_народження)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
        </td>
    </tr>
    }

    </table>*@
