@model IEnumerable<DekanatWeb.Models.StudentViewModel>

@{
    ViewBag.Title = "Студенти";
}


<h2>Список студентів</h2>

<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Номер студента</th>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>Дата народження</th>
                <th>Телефон</th>
                <th>Номер групи</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>@item.StudentId</td>
                        <td>@item.імя</td>
                        <td>@item.прізвище</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.дата_народження)</td>
                        <td>@item.телефон</td>
                        <td>@item.GroupId</td>

                        <td>
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.StudentId }) |
                            @Html.ActionLink("Деталі", "Details", new { id = item.StudentId }) |
                            @Html.ActionLink("Видалити", "Delete", new { id = item.StudentId })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <p><a href="@Url.Action("Create", "студент")" class="btn btn-primary btn-default">Створити новий &raquo;</a></p>
        <p><a href="@Url.Action("ExportToExcel", "студент")" class="btn btn-success">Експорт в Excel &raquo;</a></p>
    </div>


</div>



