@model DekanatWeb.Models.розклад

@{
    ViewBag.Title = "Видалення";
}

<h2>Видалення</h2>

<h3>Ви впевнені, що хочете видалити цей розклад?</h3>
<div>
    <h4>
        <b> Розклад №@Html.DisplayFor(model => model.CurriculumId) </b>
    </h4>
    <hr />

    <dl class="dl-horizontal" style="font-size: 12pt">

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.CurriculumId)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.CurriculumId)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.предмет.назва)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.предмет.назва)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.спеціальність.назва)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.спеціальність.назва)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.курс)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.курс)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.семестр)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.семестр)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.лекційні_часи)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.лекційні_часи)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.практичні_часи)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.практичні_часи)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.лабораторні_часи)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.лабораторні_часи)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.форма_захисту)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.форма_захисту)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.курсова_робота)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.курсова_робота)
        </dd>

        <dt style="font-weight: lighter">
            @Html.DisplayNameFor(model => model.курсові_часи)
        </dt>

        <dd style="font-weight: bold">
            @Html.DisplayFor(model => model.курсові_часи)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <p>
                <input type="submit" value="Видалити" class="btn btn-default btn-danger" />
            </p>
            &lArr; @Html.ActionLink("Повернутися до списку", "Index") 
        </div>
    }
</div>
