@model DekanatWeb.Models.розклад

@{
    ViewBag.Title = "Редагування";
}

<h2>Редагування</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>
            <b> Розклад №@Html.DisplayFor(model => model.CurriculumId) </b>
        </h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CurriculumId)

        <div class="form-group">
            @Html.LabelFor(model => model.курс, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.курс, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.курс, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.семестр, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.семестр, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.семестр, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.лекційні_часи, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.лекційні_часи, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.лекційні_часи, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.практичні_часи, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.практичні_часи, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.практичні_часи, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.лабораторні_часи, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.лабораторні_часи, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.лабораторні_часи, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.форма_захисту, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.форма_захисту, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.форма_захисту, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.курсова_робота, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.курсова_робота, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.курсова_робота, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.курсові_часи, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.курсові_часи, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.курсові_часи, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpecialtyId, "SpecialtyId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SpecialtyId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SpecialtyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectId, "SubjectId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubjectId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    &lArr; @Html.ActionLink("Повернутися до списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
