@model IEnumerable<DekanatWeb.Models.ScheduleViewModel>

<h2>Cписок розкладів</h2>

<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Номер розкладу</th>
                <th>Назва предмету</th>
                <th>Назва спеціальності</th>
                <th>Курс</th>
                <th>Семестр</th>
                <th>Лекційні години</th>
                <th>Пактичні години</th>
                <th>Лабораторні години</th>
                <th>Форма захисту</th>
                <th>Курсова робота</th>
                <th>Курсові часи</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>@item.CurriculumId</td>
                        <td>@item.предмет.назва</td>
                        <td>@item.спеціальність.назва</td>
                        <td>@item.курс</td>
                        <td>@item.семестр</td>
                        <td>@item.лекційні_часи</td>
                        <td>@item.практичні_часи</td>
                        <td>@item.лабораторні_часи</td>
                        <td>@item.форма_захисту</td>
                        <td>@item.курсова_робота</td>
                        <td>@item.курсові_часи</td>

                        <td>
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.CurriculumId }) |
                            @Html.ActionLink("Деталі", "Details", new { id = item.CurriculumId }) |
                            @Html.ActionLink("Видалити", "Delete", new { id = item.CurriculumId })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <p><a href="@Url.Action("Create", "розклад")" class="btn btn-primary btn-default">Створити новий &raquo;</a></p>
        <p><a href="@Url.Action("ExportToExcel", "розклад")" class="btn btn-success">Експорт в Excel &raquo;</a></p>
    </div>


</div>





@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.курс)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.семестр)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.лекційні_часи)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.практичні_часи)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.лабораторні_часи)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.форма_захисту)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.курсова_робота)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.курсові_часи)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.предмет.назва)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.спеціальність.назва)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.курс)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.семестр)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.лекційні_часи)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.практичні_часи)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.лабораторні_часи)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.форма_захисту)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.курсова_робота)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.курсові_часи)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.предмет.назва)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.спеціальність.назва)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CurriculumId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CurriculumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CurriculumId })
        </td>
    </tr>
}

</table>*@
