@model IEnumerable<DekanatWeb.Models.ScheduleViewModel>

@{
    ViewBag.Title = "Розклади";
}


<h2>Cписок розкладів</h2>

<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Номер розкладу</th>
                <th>Назва предмету</th>
                <th>Назва спеціальності</th>
                <th>Курс</th>
                <th>Семестр</th>
                <th>Лекційні години</th>
                <th>Пактичні години</th>
                <th>Лабораторні години</th>
                <th>Форма захисту</th>
                <th>Курсова робота</th>
                <th>Курсові часи</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>@item.CurriculumId</td>
                        <td>@item.предмет.назва</td>
                        <td>@item.спеціальність.назва</td>
                        <td>@item.курс</td>
                        <td>@item.семестр</td>
                        <td>@item.лекційні_часи</td>
                        <td>@item.практичні_часи</td>
                        <td>@item.лабораторні_часи</td>
                        <td>@item.форма_захисту</td>
                        <td>@item.курсова_робота</td>
                        <td>@item.курсові_часи</td>

                        <td>
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.CurriculumId }) |
                            @Html.ActionLink("Деталі", "Details", new { id = item.CurriculumId }) |
                            @Html.ActionLink("Видалити", "Delete", new { id = item.CurriculumId })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <p><a href="@Url.Action("Create", "розклад")" class="btn btn-primary btn-default">Створити новий &raquo;</a></p>
        <p><a href="@Url.Action("ExportToExcel", "розклад")" class="btn btn-success">Експорт в Excel &raquo;</a></p>
    </div>


</div>
